/*
==========================
   CSS elenco VINI.html
==========================
*/
#vini .item-complex .item-content
{
    padding: initial;
    position: initial;
}
#vini .vino
{
    background-repeat: no-repeat;
    height: 200px;
    margin: 5px;
    border: solid 1px #000000;
    border-radius: 4px;
    background-size: cover;
}
#vini .buttonSx
{
    position: absolute;
    top:10px;
    left: 10px;
    background-color: rgba(255,255,255,.6);
}
#vini .buttonDx
{
    position: absolute;
    top:10px;
    right: 10px;
    background-color: rgba(255,255,255,.6);
}
#vini .buttonCenter
{
    position: absolute;
    top: 10px;
    left:50%;
    text-align:center;
    background-color: rgba(255,255,255,.6);
}
#vini .winesDashboard
{
    position: absolute;
    background-color: rgba(255,255,255,.6);
    text-align:right;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#vini .item
{
    padding: 0px;
}
#vini .goodName
{
    padding: 16px;
}

#vino .winesDashboard
{
    position: absolute;
    background-color: rgba(255,255,255,.6);
    text-align:right;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}
#schedaOrganolettica
{
    /*background-image: url("../img/grape2.png");
    background-size: cover;*/
}
#schedaOrganolettica .item
{
    /*background-color:rgba(0,0,0,.5);
    background-color: transparent;*/
}
.organoletticaSottovoci
{
    text-align: right;
    color: #ababab;
}