<style>
    .avatarAuthor
        {
        height: 200px;
        width: 200px;
        border: solid 8px white;
        border-radius: 200px;
        top: -205px;
        left: 5px;
        }
</style>


<ion-view title="Riccardo - Federici"  id="autore">
    <ion-content scroll="false">
        <ion-slides>
            <ion-slide-page>
                <ion-content>
                    <ion-list>
                        <ion-item class="item-image">
                            <img ng-src="http://3.bp.blogspot.com/-FmKL2nv7wsA/UJzwEgNQ_aI/AAAAAAAAAWk/wiZucCuGxTo/s1600/tav44.jpg"  style="max-height: 400px;">
                        </ion-item>

                        <ion-item class="item-image avatarAuthor">
                            <img ng-src="http://img11.hostingpics.net/pics/816903Angouleme2013IMG4602.jpg">
                        </ion-item>

                        <div class="item item-text-wrap" style="text-align: justify;">
                            <div class="row">
                                <div class="col"> <img class="imgFlag" ng-src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Flag_of_Italy.svg/2000px-Flag_of_Italy.svg.png"></div>
                                <div class="col col-90"> <p>1842-12-31  Ferrara / 1931-11-01  Paris</p></div>
                            </div>
                        </div>


                        <div class="item item-icon-left item-divider">
                            <i class="icon ion-ios-list-outline"></i>  Storia:
                        </div>
                        <div class="item item-icon-left item-text-wrap" style="text-align: justify;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porttitor scelerisque lacus id maximus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur eu faucibus libero, vitae pellentesque nulla. Donec eleifend lectus at elit porta cursus. Vestibulum pretium maximus venenatis. Mauris ultricies nibh id urna commodo bibendum. Praesent sit amet tempor quam, at finibus elit. Nullam quis ligula pulvinar, pretium risus sed, iaculis arcu. Vivamus tristique cursus luctus. Quisque id risus tellus. Donec lacus risus, pulvinar vel neque at, laoreet tempor urna. Sed vel nisi risus. Sed lacinia mattis metus tempus iaculis.
                                <br><br>
                            Nulla ut urna eget felis volutpat facilisis vitae non ligula. Nam vitae ligula vitae metus tincidunt rutrum. Vestibulum ac metus massa. Aenean ut facilisis felis. Nullam elit nibh, vestibulum non neque vitae, scelerisque imperdiet quam. Morbi molestie lacus sit amet mattis mollis. Morbi eu tortor at arcu malesuada ultrices at in dui. Ut eu porttitor eros. Nam id molestie ante. Phasellus aliquam id risus interdum pulvinar. Nulla condimentum suscipit imperdiet. Praesent cursus pulvinar eleifend. Donec vel sapien vel metus aliquet interdum fermentum at erat. Aliquam gravida sollicitudin porta. In ultrices lorem vitae ornare maximus. Quisque auctor lorem in ante luctus vehicula.
                            </p>
                        </div>
                   </ion-list>
                </ion-content>
            </ion-slide-page>

            <ion-slide-page class="gallery">
                GALLERY
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>
