<style>
    .avatarAuthor
        {
        height: 200px;
        width: 200px;
        border: solid 8px white;
        border-radius: 200px;
        top: -205px;
        left: 5px;
        }
    .bgAuthor
        {
        height: 400px;
        width: auto;
        max-width: initial;
        max-height: initial;
        background-repeat: no-repeat;
        }
    .bgAuthor .swiper-slide img
    {
        max-width: initial;
        max-height: initial;
    }

</style>

<ion-view title="{{autore.firstName}} {{autore.lastName}}"  id="autore">
    <ion-content scroll="false">
        <ion-slides>
            <ion-slide-page>
                <ion-content>
                    <ion-list>
                        <ion-item class="item-image">
                            <img ng-src="{{autore.gallery[0].img}}" class="bgAuthor">
                            <div class="" style="text-align: right">{{autore.firstName}} - {{autore.lastName}}</div>
                        </ion-item>

                        <ion-item class="item-image avatarAuthor">
                            <img ng-src="{{autore.avatar}}">
                        </ion-item>

                        <div class="item item-text-wrap" style="text-align: justify;">
                            <div class="row">
                                <div class="col"> <img class="imgFlag" ng-src="{{autore.birth.imgFlag}}"></div>
                                <div class="col col-90"> {{autore.birth.date}} {{autore.birth.city}}  /  {{autore.die.date}} {{autore.die.city}}</div>
                            </div>
                        </div>


                        <div class="item item-icon-left item-divider" ng-hide="autore.story==null">
                            <i class="icon ion-ios-list-outline"></i>Storia:
                        </div>
                        <div ng-show="autore.story" class="item item-icon-left item-text-wrap" style="text-align: justify">
                            {{autore.story}}
                        </div>
                    </ion-list>
                </ion-content>
            </ion-slide-page>

            <ion-slide-page class="gallery">
                <ion-item class="item-image">
                    <ion-gallery ion-gallery-items="items"> <!--ng-repeat="gallery.img in autore.gallery"-->
                        <img ng-src="{{autore.gallery.img}}">
                    </ion-gallery>
                </ion-item>
            </ion-slide-page>

        </ion-slides>
    </ion-content>
</ion-view>