<ion-view view-title="{{item.name}}" class="capitolo">
    <ion-content>
        <ion-list>
            <ion-item>
                <h1>{{item.text[0].h1}}</h1>
                <p>
                    <em>
                        {{item.text[1].pem}}
                    </em>
                </p>
                <p>
                    {{item.text[2].p}}<a href="#">{{item.text[2].a}}</a>{{item.text[3].p}}
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>