

<ion-view view-title="Gruppi Alimenti" id="frigo">
    <i class="ion ion-android-options"></i>

    <ion-content id="sfFrigo"scroll="false">

        <ion-slides>
            <ion-slide-page>
                <ion-content>
                    <ion-list>
                        <ion-item class="item ricetta item-icon-right" ng-repeat="group in list" ui-sref="app.ingredienti({gruppo:group.id})" style="background-image:url('{{group.img}}')">
                            <div class="goodName">{{group.group}}<br></div>
                            <span class="groupDescription item item-icon-right" style="text-align: right;">elenco alimenti
                                <i class="icon ion-chevron-right"></i>
                            </span>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-slide-page>

            <ion-slide-page>
                <ion-content>
                    <ion-list>
                        <ion-item ng-repeat="group in list">
                            <div class="item item-icon-left item-divider">
                                <i class="icon ion-information-circled"></i> {{group.group}}
                            </div>
                            <div class="item item-text-wrap ng-binding">{{group.description}}</div>
                        </ion-item>
                    </ion-list>
                </ion-content>
            </ion-slide-page>
        </ion-slides>

    </ion-content>
    <ion-footer>
        <p style="font-size: 4px; color: darkgray;">Bibliografia: Cibo e salute –S. Rodato, I. Gola – Clitt - pag 158:201.</p>
    </ion-footer>
</ion-view>