<ion-view title="{{item.name}}"  id="itinerario">
    <ion-content scroll="false">

        <ion-slides>
            <ion-slide-page ng-repeat="point in item.point">

                <ng-include src="point.slide"></ng-include>

            </ion-slide-page>

        </ion-slides>

    </ion-content>
    <ion-footer-bar>
        <div class="dashboard">
            <div class="colorBackground">
                <span class="time button button-light icon ion-clock" ng-show="item.time>=1"> {{item.time}}"</span>
                <span class="iconaSx button button-assertive icon ion-android-walk" ng-show="item.steps>=1"> {{item.steps}}</span>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>