
<ion-view title="{{item.name}}"  id="itinerario" ng-class="item.style">

    <ion-content scroll="false">

        <ion-slides>
            <ion-slide-page ng-repeat="point in item.point">

                <ng-include src="point.slide"></ng-include>

            </ion-slide-page>

        </ion-slides>

    </ion-content>

    <ion-footer-bar>
        <div class="tabs tabs-icon-top">
            <a class="tab-item">
                <i class="icon ion-android-arrow-back"></i>
            </a>
            <a class="tab-item" ng-show="item.time>=1">
                <i class="icon ion-clock"></i>{{item.time}}
            </a>
            <a class="tab-item" ui-sref="app.range">
                <i class="icon ion-map"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-music-note"></i>
            </a>
            <a class="tab-item">
                <i class="icon ion-android-arrow-forward"></i>
            </a>
        </div>
    </ion-footer-bar>

</ion-view>