<!--
<style>
   .item-complex .item-content
  {
    padding: initial;
    position: initial;
  }
   .itemList
  {
    background-repeat: no-repeat;
    height: 200px;
    margin: 5px;
    border: solid 1px #000000;
    border-radius: 4px;
    background-size: cover;
  }
  .name
  {
    position: absolute;
    bottom:20px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px #404040;
    padding-left: 20px;
  }
  .goodAllergeni
  {
    position: absolute;
    bottom:10px;
    right: 10px;
    background-color: rgba(0,0,0,.3);
    color: #ffffff;
  }
  .goodTempo
  {
    position: absolute;
    top:10px;
    left: 10px;
  }
  .goodKcal
  {
    position: absolute;
    top:10px;
    right: 10px;
  }
  .goodDifficolta
  {
    position: absolute;
    top: 10px;
    left:50%;
    width:150px;
    margin-left:-70px;
    text-align:center;
    color: #ffc900;
    text-shadow: 2px 2px #404040;
    background-color: rgba(0,0,0,.3);
  }
  .dashboard
  {
    height: 65px;
  }
  .dashboard > .goodDifficolta
  {
    background-color: transparent;
  }
</style>
-->
<ion-view view-title="Itinerari"  id="itinerari">
  <ion-content>
    prova
    <div class="row responsive-sm">
      <ion-list>

        <ion-item class="item itemList" ng-repeat="item in list" ui-sref="app.itinerari({id:itinerario.id})" style="background-image:url('{{itinerari.background.img}}');">
          <div class="name">{{itinerari.name}}<br></div>
<!--
          <span class="goodAllergeni button button-icon icon ion-android-hand"  ng-show=">=1" style="background-color: rgba(0,0,0,.3)"></span>

          <div>
            <span class="goodTempo button button-light icon ion-clock" ng-show="good.tempo>=1"> {{good.tempo}}"</span>
            <span class="goodDifficolta button">
              <span class="icon ion-star" ng-show="good.difficolta>=1"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=1"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=2"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=2"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=3"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=3"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=4"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=4"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=5"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=5"></span>
            </span>
            <span class="goodKcal button button-assertive icon ion-flame" ng-show="good.kcal>=1"> {{good.kcal}}</span>
          </div>
-->
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</ion-view>
