<ion-view title="{{good.name}}"  id="ricetta">
  <ion-content>
      <ion-list>

        <ion-item class="item-image">
            <img ng-src="{{good.img}}">
            <div class="goodName">{{good.name}}<br></div>
        </ion-item>
            <i class="favorite icon ion-ios-heart"></i>
        <ion-item class="dashboard">
          <span class="goodTempo button button-outline button-dark icon ion-clock" ng-show="good.tempo>=1"> {{good.tempo}}"</span>
            <span class="goodDifficolta button">
              <span class="icon ion-star" ng-show="good.difficolta>=1"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=1"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=2"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=2"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=3"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=3"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=4"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=4"></span>
              <span class="icon ion-star" ng-show="good.difficolta>=5"></span>
              <span class="icon ion-ios-star-outline" ng-hide="good.difficolta>=5"></span>
            </span>
          <span class="goodKcal button button-outline button-assertive icon ion-flame" ng-show="good.kcal>=1"> {{good.kcal}} <div ng-show="">kcal riferite a una porzione</div></span>
        </ion-item>

        <div class="item item-icon-left item-divider">
          <i class="icon ion-android-hand"></i>  Allergeni:
        </div>
            <div class="item item-icon-left">
                <span ng-repeat="allergeno in good.allergeni">{{allergeno.nome}} - </span><br>
            </div>

        <div class="item item-icon-left item-divider">
            <i class="icon ion-ios-nutrition"></i>  Ingredienti:
        </div>
            <div class="item item-icon-left">
              <h3>Per {{good.persone}}  persone:</h3><br>
              <span ng-repeat="ingrediente in good.ingredienti"><span class="icon-left ion-checkmark">  {{ingrediente.dose}} {{ingrediente.um}}  -  {{ingrediente.nome}}<br></span></span>
            </div>

        <div class="item item-icon-left item-divider">
          <i class="icon ion-wineglass"></i>  Abbinamenti:
        </div>
            <div class="item item-icon-left  item-icon-right" ui-sref="app.vini">
                <span class="item-text-wrap" ng-repeat="abbinamento in good.abbinamenti">{{abbinamento.nota}}</span>
                <hr>
                <span ng-repeat="abbinamento in good.abbinamenti">{{abbinamento.nome}} - </span>
                <i class="icon ion-chevron-right"  ui-sref="#app/vini"></i>
            </div>

        <div class="item item-icon-left item-divider">
          <i class="icon ion-clipboard"></i>Ricetta:
        </div>
            <ion-item>
              <span ng-repeat="ricetta in good.method">
              <IMG ng-show="ricetta.img" ng-src="{{ricetta.img}}" style="width:100%"><br>  {{ricetta.step}}<br></span>
            </ion-item>

      </ion-list>

  </ion-content>
</ion-view>
