<style>
    .toast{

    }
    .ion-close-circled{

    }
    .ion-android-restaurant
    {
        color: red;
        font-size: 1.4em;
    }
    .ion-information-circled
    {
        font-size: 1.4em;
        text-align: right;
        color: #009689;
    }
</style>


<ion-view title="toast"  id="toast">
    <ion-content>
        <ion-list>
            <i class="ion-close-circled"></i>
            <ion-item class="toast" item-icon-left item-icon-right>
                <botton class="button button-light">
                    <i class="ion-android-restaurant"></i>
                    Ristorante Pizzeria
                    <i class="ion-arrow-right-c"></i>
                    mt. 15
                </botton>
                <a href="">
                    <button class="button button-stable">
                        <i class="ion-information-circled"></i>
                    </button>
                </a>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>