<ion-view view-title="myStore" id="myStore">
  <ion-content>

    <div>
      <p>Inserisci il tuo listino prezzi e catalogo su MySTORE.</p>
      <p>Facile, veloce e intuitiva!</p>

      <div class="row">
        <div class="col"></div>
        <div class="col col-50">
          <img src="img/MY.png"  style="max-height: 100px;">
        </div>
        <div class="col"></div>
      </div>

      <p>Una volta creato il tuo catalogo ti basterà un semplice click per importare i dati nel tuo nuovo MyCash.</p>

    </div>
  </ion-content>
</ion-view>
