<ion-view view-title="MyStore" id="codStore">
  <ion-content>

    <div>
      <p>Inserisci il tuo codice identificativo del tuo Shop che trovi all'interno dei MySTORE nella sezione impostazioni.</p>
      <br>
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Cod. Store</span>
          <input type="password">
          <!--
          <button class="button button-positive">
            <i class="icon ion-ios-telephone"></i>
          </button>
        -->
        </label>
      </div>
      <br>
      <button class="button button-block button-positive" ui-sref="app.catalogo">
        Importa
      </button>
      <br>
      <p>Con un semplice click avrai a disposizione il tuo catalogo e listino prezzi.</p>

    </div>
  </ion-content>
</ion-view>
