
<ion-view view-title="Itinerari"  id="itinerari">
  <ion-content>

    <div class="row responsive-sm">
      <ion-list>

        <ion-item class="item itemList" ng-class="item.style" ng-repeat="item in list" ui-sref="app.itinerario({id:item.id})" style="background-image:url('{{item.background}}');">
          <div class="name">{{item.name}}<br></div>

          <div class="colorBackground">
            <span class="iconaSx button button-light icon ion-clock" ng-show="item.time>=1"> {{item.time}}</span>

            <span class="goodDifficolta button icon-left ion-cash">
                {{item.price}}
            </span>

            <span class="step iconaDx button button-assertive icon ion-android-walk" ng-show="item.steps>=1"> {{item.steps}}</span>
          </div>
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</ion-view>
