
<ion-view title="toast"  id="toast">
    <ion-content>
        <ion-list>
            <i class="ion-close-circled close"></i>
            <ion-item class="toast" item-icon-left item-icon-right>
                <botton class="button button-light">
                    <i class="ion-android-restaurant categoria"></i>
                    Ristorante Pizzeria
                    <i class="ion-arrow-right-c"></i>
                    mt. 15
                </botton>
                <a href="">
                    <button class="button button-stable">
                        <i class="ion-information-circled info"></i>
                    </button>
                </a>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>