<ion-content>
    <ion-list>

        <ion-item class="item-image">
            <img ng-src="{{point.img}}">
            <div class="name">{{point.name}}<br></div>
        </ion-item>

        <div class="item item-divider">Autore:</div>
            <ion-item class="item-icon-right">
                <span class="item-text-wrap">{{point.autor}}</span>
                <i class="icon ion-chevron-right"  ui-sref="#app/.."></i>
            </ion-item>

        <div class="item item-divider"> Descrizione:</div>
            <ion-item>
                {{point.text}}
            </ion-item>

    </ion-list>
</ion-content>