<ion-content>
    <ion-list>

        <ion-item class="item-image">
            <img ng-src="{{point.gallery[0].img}}">
            <div class="name">{{point.name}}<br></div>
        </ion-item>
<!--<div  ng-hide="point.author==null">-->
        <div class="item item-divider">
            Autore:
        </div>

            <ion-item class="item-icon-right">
                <span class="item-text-wrap" ng-hide="point.author==null" ui-sref="#app/author">
                    {{point.author}}
                    <i class="icon ion-chevron-right" ></i>
                </span>
            </ion-item>
<!--</div>-->
        <div class="item item-divider" ng-hide="point.description==null">
            Descrizione:
        </div>
            <ion-item class="item-description-wrap" ng-hide="point.description==null">
                {{point.description}}
            </ion-item>
            <ion-item class="item-text-wrap" ng-hide="point.technique==null">
                Tecnica:  {{point.technique}}
            </ion-item>
            <ion-item class="item-text-wrap" ng-hide="point.height==null" ng-hide="point.width==null">
                Dimensioni:  H {{point.height}} x W {{point.width}}
            </ion-item>
            <ion-item class="item-text-wrap" ng-hide="point.epoch==null">
                Epoca: {{point.epoch}}
            </ion-item>
            <ion-item class="item-text-wrap" ng-hide="point.printing==null">
                Stampa: {{point.printing}}
            </ion-item>


    </ion-list>
</ion-content>