
/*
====================================================
          CSS   home MyCASh
====================================================
*/

#home p, #codStore p, #myStore p
  {
  padding:10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
  }
#home
  {
  background-image: url("../img/bk2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  }
#home >ion-content
  {
  top: 30%;
  text-align:  center;
  }
#home h1
  {
  color: #ffffff;
  }
#codStore ion-content
  {
  padding:10%;
  }
/*
#catalogo
  {
  background-image: url("../img/catalogo.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  }
  */
/*
==========================
     CSS   CARRELLO
==========================
*/
#carrello
  {
  /*background-image: url("../img/carrello.jpg");*/
  background-color: #f8f8f8;
  background-size:contain;
  background-repeat: no-repeat;
  }
#carrello .qntPriceCarrello
  {
  text-align:right;
  background-color: #f3f3f3;
  border-radius: 20px;
  float: right;
  }
#carrello .qntTotCarrello
  {
  text-align:right;
  background-color: #00d70a;
  border-radius: 20px;
  float: right;
  color: #ffffff;
  font-size: 1.4em;
  padding: 4px;
  }



/*
====================================================
       CSS APP RICETTARIO
====================================================

==========================
   CSS elenco Ricette
==========================
*/
#elencoRicette .item-complex .item-content, #ingrediente .item-complex .item-content
  {
  padding: initial;
  position: initial;
  }
#elencoRicette .ricetta, #ingrediente .ricetta, #frigo .ricetta, #luogo .ricetta
  {
  background-repeat: no-repeat;
  height: 200px;
  margin: 5px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-size: cover;
  }
.goodName
  {
  position: absolute;
  bottom:20px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  /*background-color: rgba(0,0,0,.6);*/
  text-shadow: 2px 2px #404040;
  padding-left: 20px;
  }
.goodAllergeni
  {
  position: absolute;
  bottom:10px;
  right: 10px;
  background-color: rgba(0,0,0,.3);
  color: #ffffff;
  }
.goodTempo
  {
  position: absolute;
  top:10px;
  left: 10px;
  }
.goodKcal
  {
  position: absolute;
  top:10px;
  right: 10px;
  }
.goodDifficolta
  {
  position: absolute;
  top: 10px;
  left:50%;
  width:150px;
  margin-left:-70px;
  text-align:center;
  color: #ffc900;
  text-shadow: 2px 2px #404040;
  background-color: rgba(0,0,0,.3);
  }
.dashboard
  {
  height: 65px;
  }
.dashboard > .goodDifficolta
  {
  background-color: transparent;
  }
/*
==========================
   CSS PREFERITI
==========================
*/

#ricetta .favorite, #frigo .favorite, #ingrediente .favorite, #luogo .favorite
  {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2000;
  font-size: 40px;
  }

/*
==========================
   CSS elenco VINI.html
==========================
*/
#vini .item-complex .item-content
  {
  padding: initial;
  position: initial;
  }
#vini .vino
  {
  background-repeat: no-repeat;
  height: 200px;
  margin: 5px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-size: cover;
  }
#vini .buttonSx
  {
  position: absolute;
  top:10px;
  left: 10px;
  background-color: rgba(255,255,255,.6);
  }
#vini .buttonDx
  {
  position: absolute;
  top:10px;
  right: 10px;
  background-color: rgba(255,255,255,.6);
  }
#vini .buttonCenter
  {
  position: absolute;
  top: 10px;
  left:50%;
  text-align:center;
  background-color: rgba(255,255,255,.6);
  }
#vini .winesDashboard
  {
  position: absolute;
  background-color: rgba(255,255,255,.6);
  text-align:right;
  width: 100%;
  padding: 0px;
  margin: 0px;
  }
#vini .item
  {
  padding: 0px;
  }
#vini .goodName
  {
  padding: 16px;
  }
/*
==========================
   CSS   VINO.html
==========================
*/
#vino .winesDashboard
  {
  position: absolute;
  background-color: rgba(255,255,255,.6);
  text-align:right;
  width: 100%;
  padding: 0px;
  margin: 0px;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 0;
  }
#schedaOrganolettica
  {
  /*background-image: url("../img/grape2.png");
  background-size: cover;*/
  }
#schedaOrganolettica .item
  {
  /*background-color:rgba(0,0,0,.5);
  background-color: transparent;*/
  }
.organoletticaSottovoci
{
  text-align: right;
  color: #ababab;
}
/*
==========================
   CSS   INGREDIENTI.html
==========================
*/

#ingredienti .item-checkbox.item-avatar .item-content
  {
  min-height: initial;
  padding-left:13px;
  }
#ingredienti .item-checkbox.item-avatar .checkbox
  {
  left:initial;
  }
#ingredienti p
  {
  max-width: 30ch;
  }
/*
==========================
   CSS   FRIGO.html
==========================
*/

#frigo .groupDescription
  {
  border-color: transparent;
  background-color: rgba(255,255,255,.7);
  }
#frigo .item-complex .item-content, .item-radio .item-content
  {
  position: initial;
  padding: 0px;
  background-color: initial;
  }
#frigo .item
  {  text-align: justify;}
/*
==========================
   CSS   SLIDE.html
==========================
*/
#slide .box>h1
  {
  text-align: center;
  }




/*
==========================
   CSS   generale
==========================
*/


/* scheda autore  e scheda luoghi */
.imgFlag
{
  max-height:20px;
}

/*
==========================
   CSS   APP MUSEO
==========================
*/
/*    AUTORE   */

#autore .avatarAuthor
  {
  height: 200px;
  width: 200px;
  border: solid 8px white;
  border-radius: 200px;
  top: 10px;
  left: 5px;
  position: absolute;
  background-size: cover;
  }
#autore .bgAuthor
  {
  height: 400px;
  width: auto;
  max-width: initial;
  max-height: initial;
  background-repeat: no-repeat;
  }
#autore .bgAuthor .swiper-slide img
  {
  max-width: initial;
  max-height: initial;
  }

/*    MAPPA   */

.mappa .map
{
  width: auto;
  max-width: initial;
  max-height: initial;
  background-repeat: no-repeat;
}
.mappa .point
{
  color: #d72c1a;
  font-size: 1.5em;
}
.mappa .N
{
  color: #46abba;
  font-size: 5em;
  position: absolute;
  top:5%;
  left:5%;

  transform: rotate(-45deg);
  webkit-transform: rotate(-45deg);
  moz-transform: rotate(-45deg);
  ms-transform: rotate(-45deg);
}

/*    ITINERARI   */

#itinerari .item-complex .item-content, #itinerario .item-complex .item-content
  {
  padding: initial;
  position: initial;
  }
#itinerari .itemList, #itinerario .itemList
  {
  background-repeat: no-repeat;
  height: 200px;
  margin: 5px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-size: cover;
  }
#itinerari .name, #itinerario .name
  {
  position: absolute;
  bottom:20px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-shadow: 2px 2px #404040;
  padding-left: 20px;
  }
#itinerari .iconaDx, #itinerario .iconaDx
  {
  position: absolute;
  top:10px;
  left: 10px;
  }
#itinerari .iconaSx, #itinerario .iconaSx
  {
  position: absolute;
  top:10px;
  right: 10px;
  }

/*     CAPITOLO    */
.capitolo h1
  {
  color: #cc141c;
  font-family: 'Squada One';
  font-size: 2.2em;
  line-height: 1.3em;
  margin-bottom: 1.2em;
  white-space: initial;
  }
.capitolo h1:before
  {
  background: #cc141c;
  content: '';
  display: block;
  height: 12px;
  margin-bottom: 1em;
  width: 72px;
  }
.capitolo h2
  {
  color: #ec7309;
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-size: 1.2em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-left: 15%;
  white-space: initial;
  text-align: justify;
  }
.capitolo p
  {
  color: #574432;
  font-family: 'Libre Baskerville';
  /*font-size: 20px;
  line-height: 36px;*/
  margin-bottom: 36px;
  margin-left: 15%;
  white-space: initial;
  text-align: justify;
  }
.capitolo a
  {
  color: #ec7309;
  font-style: italic;
  }
.capitolo a:hover
  {
  color: #cc141c;
  }