/* Empty. Add your own CSS if you like */

#home p, #codStore p, #myStore p
  {
  padding:10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

#home
  {
  background-image: url("../img/bk2.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  }
#home >ion-content
  {
  top: 30%;
  text-align:  center;
  }
#home h1
  {
  color: #ffffff;
  }

#codStore ion-content
  {
  padding:10%;
  }

/*#catalogo
  {
  background-image: url("../img/catalogo.jpg");
  background-size:contain;
  background-repeat: no-repeat;
  }*/
#carrello
  {
  /*background-image: url("../img/carrello.jpg");*/
  background-color: #f8f8f8;
  background-size:contain;
  background-repeat: no-repeat;
  }

#carrello .qntPriceCarrello
  {
  text-align:right;
  background-color: #f3f3f3;
  border-radius: 20px;
  float: right;
  }
#carrello .qntTotCarrello
  {
  text-align:right;
  background-color: #00d70a;
  border-radius: 20px;
  float: right;
  color: #ffffff;
  font-size: 1.4em;
  padding: 4px;
  }


/*
==========================
   CSS elenco Ricette
==========================
*/

#elencoRicette .ricetta
  {
  background-image:url('{{good.img}}');
  background-repeat: no-repeat;
  height: 200px;
  margin: 5px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-size: cover;
  }
.goodName
  {
  position: absolute;
  bottom:20px;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  /*background-color: rgba(0,0,0,.6);*/
  text-shadow: 2px 2px #404040;
  }
.goodAllergeni
  {
  position: absolute;
  bottom:10px;
  right: 10px;
  background-color: rgba(0,0,0,.3);
  color: #ffffff;
  }
.goodTempo
  {
  position: absolute;
  top:10px;
  left: 10px;
  }
.goodKcal
  {
  position: absolute;
  top:10px;
  right: 10px;
  }
.goodDifficolta
  {
  position: absolute;
  top: 10px;
  left:50%;
  width:200px;
  margin-left:-100px;
  text-align:center;
  color: #ffc900;
  text-shadow: 2px 2px #404040;
  background-color: rgba(0,0,0,.3);
  }
.dashboard
  {
  height: 65px;
  }
.dashboard > .goodDifficolta
{
  background-color: transparent;
}
